@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* starts here */

body {
  font-family: Ubuntu;
  text-align: center;
}

.form-main {
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.form-main > * {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 5px;
}

.form-main button {
  margin-top: 25px;
  padding: 20px 20px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainText {
  padding-top: 200px;
  padding-right: 700px;
  padding-left: 700px;
  font-size: 22px;
  padding-bottom: 100px;
}

table {
  border: 1px solid #aaa;
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #aaa;
}
table th, table td {
  padding: 0.6em 3em;
  vertical-align: middle;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
table th:last-child, table td:last-child {
  border-right: none;
}
table th {
  background: #ddd;
}
table td {
  background: #fff;
}
table tbody tr:last-child th, table tbody tr:last-child td {
  border-bottom: none;
}